.__ai_translator__ {
  position: absolute;
  z-index: 99;
  font-size: 14px;
}

.__ai_translator__ svg {
  pointer-events: none !important;
  user-select: none !important;
}

.__ai_translator__ .__ai_translator__-card-head {
  padding: 12px !important;
}

.__ai_translator__slot_card > .__ai_translator__-card-body {
  padding: 0px !important;
}

.__ai_translator__:has(.__ai_translator__slot_card) {
  width: max-content;
  min-width: 460px;
  max-width: 780px;
}

.__ai_translator__paragraph {
  max-height: 520px !important;
  overflow: hidden !important;
  scrollbar-width: none !important;
}

.__ai_translator__ .__ai_translator__-splitter-panel .__ai_translator__-space {
  width: 100% !important;
}
